# Comment line immediately above ownership line is reserved for related GUS information.
# Please exercise caution while editing.

#ECCN:Open Source
#GUSINFO: Heroku FE Dev Tools,Heroku CLI & Plugins
* @heroku/frontend-dev-tooling
